/BitmapIndexed4BPP.class
/BitmapIndexed8BPP.class
/BitmapMask.class
/BitmapPNG.class
/BitmapRGB24BPP.class
/BitmapRGB32BPP.class
/ICOFile.class
/ICOImageReaderSPI.class
/ICOReader.class
/ImageInputStreamAdapter.class
/TypeCompression.class
/WBMPImageReaderSpiFix.class
